@import "tailwindcss";

:root {
  --background: #f5f7fa;
  --foreground: #171717;
  --primary: #007bff;
  --primary-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --font-sans: 'Noto Sans JP', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
